<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Censo de Consorcios | {{Title}} </title>

    <link rel="stylesheet" href="assets/js/plugins/bootstrap-5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/js/plugins/fontawesome-free-6.6.0-web/css/all.css">
    <script type="text/javascript" src="assets/js/plugins/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="assets/css/estilos.css">

    @@PAGESSTYLES@@
    <!--Iconos para el Favicon-->
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicon/android-chrome-192x192.png">

    <link rel="stylesheet" href="@@DIR@@css/toastr.min.css">
</head>

<body>
    <div class="banner-cont">
        <div class="baner-img-cont"><img class="banner-img" src="assets/img/logo.png" alt=""></div>
        <div class="titulo">CENSO DE CONSORCIOS</div>
        <div class="usuario">
            <span>@@USERNAME@@</span><br>
            <span>@@CARGO@@</span>
        </div>
    </div> 
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">

        <div class="container-fluid" style="margin-top: 0 !important;">
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link color" href="nueva_denuncia.php"><i
                                class="fa-solid fa-earth-americas"></i> Inicio</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <button class="Btn" onclick="window.location.href = 'logout.php'; return false;">

                        <div class="sign"><svg viewBox="0 0 512 512">
                                <path
                                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                                </path>
                            </svg></div>

                        <div class="text">Salir</div>
                    </button>
                </form>
            </div>
        </div>
    </nav>