<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-11">
                <label for="parametro_bsq"> Busqueda</label>
                <div class="form-group">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                class="fa-solid fa-magnifying-glass color"></i></span>
                        <input type="text" class="form-control" id="parametro_bsq"
                            placeholder="Consorcio, Registro, Certificado de Operacion, ...">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button id="btn_busq" class="btn btn-outline-info btn_n_op" onclick="busqueda(0)"><i
                        class="fa-solid fa-magnifying-glass bt-bq"></i> Buscar</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow card_bsq">
                    <div class="res_total">Resultado de Busqueda: <span id="total"></span></div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" class="centrar">N°</th>
                                    <th scope="col" class="centrar">Certificado Operacion</th>
                                    <th scope="col" class="centrar">Permiso Explotacion</th>
                                    <th scope="col" class="centrar">Registro</th>
                                    <th scope="col" class="centrar">Nombre Transportista</th>
                                    <th scope="col" class="centrar">Ruta</th>
                                    <th scope="col" class="centrar">Empresa</th>
                                    <th scope="col" class="centrar">Consorcio</th>
                                    <th scope="col" class="centrar">Observacion</th>
                                    <th scope="col" class="centrar">Estado</th>
                                    <th scope="col" class="centrar">Usuario</th>
                                    <th scope="col" class="centrar">Fecha</th>
                                    <th scope="col" class="centrar">Accion</th>
                                </tr>
                            </thead>
                            <tbody id="result">

                            </tbody>
                        </table>
                    </div>
                    <div id="pagi">
                        <ul class="pagination" id="paginacion">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------Modal Edicion------------- -->
<div class="modal fade" id="modalEdicion" tabindex="-1" aria-labelledby="modalEdicionLabel">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="titulo-mod">
                    Actualizacion de Información
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="parametro_bsq"> Certificado de Operacion</label>
                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                                class="fa-solid fa-magnifying-glass color"></i></span>
                                        <input type="text" class="form-control" id="parametro_bsq" placeholder="">
                                    </div>
                                </div>
                                <label for="certificado_info" class="l-info">Valor Actual:</label>
                                <span id="certificado_info" class="info-veri" data-valor=""></span>
                            </div>
                            <div class="col-md-4">
                                <label for="parametro_bsq"> Permiso de Explotacion</label>
                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                                class="fa-solid fa-magnifying-glass color"></i></span>
                                        <input type="text" class="form-control" id="parametro_bsq" placeholder="">
                                    </div>
                                </div>
                                <label for="permiso_info" class="l-info">Valor Actual:</label>
                                <span id="permiso_info" class="info-veri" data-valor=""></span>
                            </div>
                            <div class="col-md-4">
                                <label for="parametro_bsq"> Registro</label>
                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                                class="fa-solid fa-magnifying-glass color"></i></span>
                                        <input type="text" class="form-control" id="parametro_bsq" placeholder="">
                                    </div>
                                </div>
                                <label for="registro_info" class="l-info">Valor Actual:</label>
                                <span id="registro_info" class="info-veri" data-valor=""></span>
                            </div>
                            <hr>
                            <div class="col-md-6">
                                <label for="parametro_bsq"> Nombre del Transportista</label>
                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                                class="fa-solid fa-magnifying-glass color"></i></span>
                                        <input type="text" class="form-control" id="parametro_bsq" placeholder="">
                                    </div>
                                </div>
                                <label for="transportista_info" class="l-info">Valor Actual:</label>
                                <span id="transportista_info" class="info-veri" data-valor=""></span>
                            </div>
                            <div class="col-md-6">
                                <label for="id_ruta">Ruta</label>
                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                                class="fa-solid fa-list"></i></span>
                                        <select id="id_ruta" class="form-select" aria-label="Default select example"
                                            data-nombre="Tipo_Unidad">
                                            <option value="-1" disabled="" selected="">Seleccionar Una Ruta
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <label for="ruta_info" class="l-info">Valor Actual:</label>
                                <span id="ruta_info" class="info-veri" data-valor=""></span>
                            </div>
                            <hr>
                            <div class="col-md-6">
                                <label for="id_empresa">Empresa</label>
                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                                class="fa-solid fa-list"></i></span>
                                        <select id="id_empresa" class="form-select" aria-label="Default select example"
                                            data-nombre="Tipo_Unidad">
                                            <option value="-1" disabled="" selected="">Seleccionar Una Empresa
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <label for="empresa_info" class="l-info">Valor Actual:</label>
                                <span id="empresa_info" class="info-veri" data-valor=""></span>
                            </div>
                            <div class="col-md-6">
                                <label for="id_consorcio">Consorcio</label>
                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                                class="fa-solid fa-list"></i></span>
                                        <select id="id_consorcio" class="form-select"
                                            aria-label="Default select example" data-nombre="Tipo_Unidad">
                                            <option value="-1" disabled="" selected="">Seleccionar Una Empresa
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <label for="consorcio_info" class="l-info">Valor Actual:</label>
                                <span id="consorcio_info" class="info-veri" data-valor=""></span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="titulo-mod">
                                    Consultas DGT
                                </div>
                            </div>
                            <div class="col-md-10">
                                <label for="parametro_bsq"> Busqueda</label>
                                <div class="form-group">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text my-button" id="addon-wrapping"><i
                                                class="fa-solid fa-magnifying-glass color"></i></span>
                                        <input type="text" class="form-control" id="parametro_bsq_dgt"
                                            placeholder="Certificado, Registro, Empresa, Propietario, Placa, ...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 tc">
                                <button id="btn_busq" class="btn btn-outline-info btn_n_op btn_busq"
                                    onclick="busquedaDGT(0)"><i class="fa-solid fa-magnifying-glass bt-bq"></i>
                                    Buscar</button>
                            </div>
                            <div class="table-responsive">
                                <hr>
                                <table class="table table-striped table-hover" id="table_dgt" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="centrar">N°</th>
                                            <th scope="col" class="centrar">Numero de Certificado</th>
                                            <th scope="col" class="centrar">Registro</th>
                                            <th scope="col" class="centrar">Nombre de la Empresa</th>
                                            <th scope="col" class="centrar">Nombre del Propietario</th>
                                            <th scope="col" class="centrar">Placa</th>
                                            <th scope="col" class="centrar">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="result_dgt">

                                    </tbody>
                                </table>
                            </div>
                            <div id="pagi">
                                <ul class="pagination" id="paginacion">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL PARA LAS CONSULTAS -->
<div class="modal fade" id="modalConsulta" tabindex="-1" aria-labelledby="modalConsultaLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal_dgt">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover" id="modal-content">

                </table>
            </div>
        </div>
    </div>
</div>